<p-card [header]="item.title" [subheader]="item.category">
  <ng-template pTemplate="header">
    <div class="product__img">
      <img alt="Card" [src]="item.image" />
    </div>
  </ng-template>
  <p>
    {{ item.description }}
  </p>
  <ng-template pTemplate="footer">
    <div class="flex gap-4 align-items-center justify-content-center py-4">
      <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
      <p-button
        label="Buy"
        icon="pi pi-cart-plus"
        styleClass="p-button-secondary"
      ></p-button>
      <p-button label="Cart" icon="pi pi-check"></p-button>
      <div class="p-inputgroup flex gap-2">
        <button
          type="button"
          (click)="increase()"
          pButton
          icon="pi pi-plus"
          pRipple
          class="p-button-success border-round"
        ></button>
        <input
          type="text"
          class="w-full border-round"
          [(ngModel)]="defaultQuantity"
          pInputText
          ngModel
          placeholder="Vote"
        />
        <button
          type="button"
          pButton
          (click)="decrease()"
          icon="pi pi-minus"
          class="p-button-danger border-round"
        ></button>
        <!-- styleClass="p-button-success" -->
      </div>
    </div>
  </ng-template>
</p-card>

<!-- [style]="{ width: '360px' }" -->
