
/* https://www.hostinger.in/tutorials/website-color-schemes */


:root {


  /* Dark Green, Ivory, and Yellow */
  --clr-dark-green:#009B4D;
  --clr-tangerine-yellow:#FFCC00;
  --clr-ivory:#FAF5E9;
  /* Bright Green and Hot Pink */
  --clr-bright-green:#31EC56;
  --clr-razzmataz:#EF036C;
  --clr-heliotrope:#EE72F8;


}