<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Box - 01</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>CSS Box 01</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio quos odit laboriosam dolore perferendis non doloribus eaque error magnam omnis. Dolorum aliquid sint quidem laborum deleniti fugiat? Sunt, ratione distinctio.
    <a href="#">Learn More</a>
  </p>
</body>
</html>