<div class="card flex align-items-center justify-content-center">
  <div *ngIf="users$ | async as users">
    <h1>Total Users: {{ users.length }}</h1>
    <div class="card">
      <ul>
        <li *ngFor="let user of users" class="py-1 text-primary">
          <div class="flex flex-column">
            {{ user.name }}
            <span class="text-500 my-2">Email: {{ user.email }}</span>
            <span class="text-500 mb-2">Phone: {{ user.phone }}</span>
            <span class="text-800">Website: {{ user.website }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
