<header class="flex py-2 align-items-center justify-content-between">
  <div class="logo p-4">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng-logo-dark.svg"
      alt="logo"
      srcset=""
    />
  </div>
  <div class="input__search">
    <div class="card flex align-items-center justify-content-center">
      <span class="p-float-label w-full">
        <input
          pInputText
          (keyup.enter)="onEnter()"
          class="w-full"
          id="inputTitle"
          [(ngModel)]="inputTitle"
        />
        <label htmlFor="inputTitle">Search in OCEM Store</label>
      </span>
    </div>
  </div>
  <nav>
    <ul class="flex gap-4 p-4">
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Laptop</a></li>
      <li><a href="index.html">Printer</a></li>
    </ul>
  </nav>
</header>

<section>
  <div class="container py-2">
    <h1>Search product : {{ inputTitle }}</h1>
  </div>
</section>

<div class="container">
  <div class="card">
    <div class="product__cards">
      <app-item
        *ngFor="let item of filterProductItems"
        [product]="item"
      ></app-item>
    </div>
  </div>
</div>
