<header class="flex align-items-center justify-content-between">
  <div class="logo p-4">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng-logo-dark.svg"
      alt="logo"
      srcset=""
    />
  </div>
  <nav>
    <ul class="flex gap-4 p-4">
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">About</a></li>
      <li><a href="index.html">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="container">
  <div class="card">
    <div class="product__cards">
      <app-item *ngFor="let item of productItems" product="item"></app-item>
    </div>
  </div>
</div>
