.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 80%), 1fr));
  grid-gap: 1rem;
}

.input__search {
  width: min(560px, 100%);
}


.bg__wave {
  background: url("../assets/wave.svg") no-repeat center center fixed;
  /* object-fit: contain; */
  /* background-position: center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}